*~
*.swp
*.swo
values-secret*
.*.expected.yaml
pattern-vault.init
vault.init
*.vscode
super-linter.log
/archive

charts/app/*/node_modules
charts/app/*/package-lock.json
charts/app/v-app1*

charts/app/*/src/images/*